/* burger_menu_section */
.mobile_menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 360px;
  height: 640px;
  background-color: var(--third-color-brand-white);
  transform: translateX(500%);
  transition: 1s;
  padding: 20px 16px;

  @media screen and (min-width: $bp-desktop) {
      display: none;
    }

  &__cover {
      position: relative;
      display: flex;
      flex-direction: column;
    }
  
    &__close_btn {
      position: absolute;
      top: 8px;
      right: 12px;
    }
  
    &__logo_link {
      margin-bottom: 32px;
    }
  
    &__nav_list {
      display: flex;
      flex-direction: column;
      gap: 16px;
      margin-bottom: 16px;
    }
  
    &__nav_social_list {
      display: flex;
      gap: 16px;
    }
}

.burger_menu_section.is-open {
  transform: translateX(0);
}

