:root {
  --main-color-brand-blue: #2b7fff;
  --second-color-brand-gray: #747272;
  --third-color-brand-white: #ffffff;
  --fourth-color-brand-black_blue: #011c44;
  --main-font-size: 18px;
  --second-font-size: 22px;
  --main-font-weight: 400;
  --second-font-weight: 600;
}

 $bp-mobile: 480px;
 $bp-tablet: 720px;
 $bp-desktop: 1280px;